{% extends 'base.html'%}


{% load static %}

{% block title %}
	<div class="dashboard_bar">
	Pacientes
	</div>
 {% endblock %}


{% block content %}


	<!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<h3>Quien soy?</h3>

						<p> Bienvenidos, mi nombre es Mishelle y soy Licenciada en Nutricion. Me especializo en dos areas en nutricion, la clinica y la deportiva. </p>
						<br><br><br><br><br>

						<h3> Servicios nutricionales</h3>

						<p>Asesoria nutricional para adolescentes y adultos</p>
						
						<p>Planes de reduccion de grasa corporal</p>
						<br><p>Planes de aumento de massa muscular</p>
						<br><p>Nutricion deportiva</p>
						<br><p>Manejo de diabetes, hipertension arterial y dislipidemias</p>
						<br><p>Mejorar habitos alimenticios</p>
						<br><p>Menus personalizados</p>
						<br>
						<p>Charlas empresariales</p>
						<br><br><br><br>
						<h3>Donde me puedes contactar?</h3>

						<p>8943-8913</p> <br>
						<p>dra.mishellenutri@gmail.com</p> <br>
						<p>IG: dra.mishellenutri</p> <br>
						<p>FB: nutricionistamishellecr</p> <br>
					





					</div>
					
				</div>
				<div class="row"><!--ESTO AGREGUE-->
					<div class="col-xl-6 col-xxl-12">
						<img src="{% static 'images/nutri.jpg' %}" alt="" > 
				  
					</div>
				</div>
			</div>							
		</div>								 
    <!--**********************************
       Content Body Ends
    ***********************************-->




{% endblock content %}