{% extends 'masterpage.html'%}


{% load static %}


{% block title %}
	<div class="dashboard_bar">
	Administrarr Alimentos
	</div>
 {% endblock %}


{% block content %}


		

        <!--**********************************
            Content body start
        ***********************************-->
    

	   <!--**********************************
           Food tables start
        ***********************************-->

       <!--**********************************
           Carnes 
        ***********************************-->
		     <div class="content-body">
            <div class="container-fluid">
				 <div class="row">
				                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Alimentos</h4>
                                <a href="{% url 'alimentos_form' %}" class="btn btn-primary btn-event w-20">
                                    Agregar     </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Alimento</th>
                                                <th scope="col">Categoria</th>
                                                
                                                <th scope="col">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for alimento in alimento %}
                                            <tr>
                                                <td>{{alimento.nombrealimento}}</td>
                                                <td>{{alimento.categoria}}</td>
                                                
                                                <td><div class="d-flex">
                                                    <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                                    <a href="#"  class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>>
					</div>>

		 <!--**********************************
           Carnes end
        ***********************************-->

 
        <!--**********************************
            Content body end
        ***********************************-->

  {% endblock content %}




        
 