{% extends 'masterpage.html'%}


{% load static %}

{% block title %}
	<div class="dashboard_bar">
	Contactos
	</div>
 {% endblock %}

{% block content %}

	
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
                <!--Filtros - revisar como hacerlos funcionar
				<div class="form-head d-flex mb-3  mb-lg-5   align-items-start">-->
					<!--Formulario "Nuevo Paciente". Lo dejo comentado por si nos es útil en el futuro
					<a href="javascript:void(0)" class="btn btn-danger" data-toggle="modal" data-target="#addDoctorModal">Nuevo Paciente</a>
					-->
					<!--<div class="input-group search-area ml-auto d-inline-flex">
						<input type="text" class="form-control" placeholder="Buscar">
						<div class="input-group-append">
							<a href="javascript:void(0)" class="input-group-text"><i class="flaticon-381-search-2"></i></a>
						</div>
					</div>
					<div class="dropdown ml-3 d-inline-block">
						<div class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
							<i class="flaticon-381-controls-3 mr-2"></i> Filtrar Paciente
						</div>
						<div class="dropdown-menu dropdown-menu-left">
							<a class="dropdown-item" href="#">De la A a la Z </a>
							<a class="dropdown-item" href="#">De la Z a la A </a>
						</div>
					</div>
					<select class="form-control style-2 ml-3 default-select ">
						<option>Mas Nuevo</option>
						<option>Mas Viejo</option>
					</select>-->
					<!--Comento menú hamburgueda por si más adelante nos es útil
					<a href="javascript:void(0);" class="btn btn-outline-primary ml-3"><i class="flaticon-381-menu-1 mr-0"></i></a>
				    -->
				<!--</div> -->
				
			
							<div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="card-title">Lista de contactos</h4>
										
									</div>
									<div class="card-body">
										<div class="table-responsive ">
											<table class="table patient-activity">
												{% for uniontablas in uniontablas %}
												<tr>
													<td>
														<div class="media align-items-center">
															<img class="mr-3 img-fluid rounded" width="78" src="{% static '/images/avatar/1.jpg'%}" alt="DexignZone">
															<div class="media-body">
																<a href="{% static 'patient-details.html'%}"><h5 class="mt-0 mb-1">Ana Lopez</h5></a>
																<h5 class="my-0 text-primary">ana@gmail.com</h5>
															</div>
														</div>
													</td>
													<td>
														<p class="mb-0">Teléfono</p>
														<h5 class="my-0 text-primary">7089-9087</h5>
													</td>
													<td>
														<p class="mb-0">Paciente desde</p>
														<h5 class="my-0 text-primary">22/03/2020 </h5>

													</td>
													<!-- Segunda opcion en lugar de paciente desde
													<td>
														<div class="d-flex align-items-center">
															<div>
																<p class="mb-1">Próxima Cita</p>
																<h5 class="mt-0 mb-1 text-success"><small>22/03/2020 12:34 AM</small></h5>
															</div>
															<div class="dropdown ml-auto">
																<div class="btn-link" data-toggle="dropdown">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
																</div>
																<div class="dropdown-menu dropdown-menu-right" >
																	<a class="dropdown-item" href="#">Edit</a>
																	<a class="dropdown-item" href="#">Delete</a>
																</div>
															</div>
														</div>
														<div class="d-flex align-items-center">
															<div>
																<p class="mb-1">Estado</p>
																<h5 class="mt-0 mb-1 text-danger">Nuevo paciente</h5>
																<small>22/03/2020 12:34 AM</small>
															</div>
															<div class="dropdown ml-auto">
																<div class="btn-link" data-toggle="dropdown">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
																</div>
																<div class="dropdown-menu dropdown-menu-right">
																	<a class="dropdown-item" href="#">Edit</a>
																	<a class="dropdown-item" href="#">Delete</a>
																</div>
															</div>
														</div>
													</td>-->
												</tr>
												<tr>
													<td>
														<div class="media align-items-center">
															<img class="mr-3 img-fluid rounded" width="78" src="{% static '/images/avatar/2.jpg'%}" alt="DexignZone">
															<div class="media-body">
																<a href="{% static 'patient-details.html'%}"><h5 class="mt-0 mb-1">{{uniontablas.0}} {{uniontablas.1}}  {{uniontablas.2}}</h5></a>
																<p class="mb-0">{{uniontablas.3}}</p>
															</div>
														</div>
													</td>
													<td>
														<p class="mb-0">Teléfono</p>
														<h5 class="my-0 text-primary">{{uniontablas.4}}</h5>
													</td>
													<td>
														<p class="mb-1">Próxima Cita</p>
														<h5 class="mt-0 mb-1 text-success"><small>{{uniontablas.5}}</small></h5>
													</td>
													<td>
														<div class="d-flex align-items-center">
															<div>
																<p class="mb-1">Activo Desde</p>
																<h5 class="mt-0 mb-1 text-danger">{{uniontablas.6}}</h5>
																<small>{{uniontablas.estado}}</small>
															</div>
															<div class="dropdown ml-auto">
																<div class="btn-link" data-toggle="dropdown">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
																</div>
																<div class="dropdown-menu dropdown-menu-right">
																	<a class="dropdown-item" href="#">Edit</a>
																	<a class="dropdown-item" href="#">Delete</a>
																</div>
															</div>
														</div>
													</td>
												</tr>
												{% endfor %}

											</table>
										</div>
									</div>
								</div>
							</div>
							</div>
                        </div>				
				</div> <!--Aquí termina el código para paciente B-->
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

  {% endblock content %}













