{% extends 'masterpage.html'%}


{% load static %}

{% block title %}
<div class="dashboard_bar">
	Crear Expediente
</div>
{% endblock %}


{% block content %}


<!--**********************************
            Content body start
    ***********************************-->
<div class="content-body">
	<div class="container-fluid">

		<!-- row -->
		<div class="row">
			<div class="col-xl-12 col-xxl-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Datos Personales</h4>
					</div>
					<div class="card-body">
						<div class="basic-form">
							<form>
									<div class="row">
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="text-label">Fecha de Creación Expediente*</label>
												<input type="date" class="form-control" placeholder="" required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="text-label">Correo*</label>
												<input type="email" class="form-control" id="inputGroupPrepend2"
													aria-describedby="inputGroupPrepend2"
													placeholder="example@example.com.com" required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="text-label">Nombre*</label>
												<input type="text" name="nombre" class="form-control" placeholder=""
													required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="text-label">Apellidos*</label>
												<input type="text" name="" class="form-control" placeholder="" required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="text-label">Cédula*</label>
												<input type="number" class="form-control" id="" placeholder="" required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="text-label">Teléfono*</label>
												<input type="number" name="phoneNumber" class="form-control"
													placeholder="" required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="text-label">Ocupación*</label>
												<input type="text" class="form-control" id="" placeholder="" required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">											
												<div class="form-group">													
													<label class="text-label">Sexo*</label>
													<div class="form-check">
														<input class="form-check-input" type="radio" name="gridRadios"
															value="option1" checked>
														<label class="form-check-label">
															Femenino
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="radio" name="gridRadios"
															value="option2">
														<label class="form-check-label">
															Masculino
														</label>
													</div>
												</div>
										</div>

										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="text-label">Fecha de Nacimiento*</label>
												<input type="date" class="form-control" placeholder="" required>
											</div>
										</div>

										<div class="col-lg-6 mb-2">
											<div class="form-group">
													
												<label class="text-label">Estado Expediente*</label>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="Radio_Estad"
															value="option3" checked>
													<label class="form-check-label">
															Activo
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="Radio_Estad"
															value="option4">
													<label class="form-check-label">
															Inactivo
													</label>
												</div>
											</div>
										</div>

										</div>
										<div class="col-lg-12 mb-3">
											<div class="form-group">
												<label class="text-label">Objetivo/Meta*</label>
												<input type="text" name="" class="form-control" required>
											</div>
										</div>
									</div>
									<button class="btn btn-primary sw-btn-next" type="submit">Crear</button>

							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
			


<!--**********************************
            Content body end
        ***********************************-->


{% endblock content %}