{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dra.Mishelle Villalta B</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/logitoo.png' %}">
    <link href="{% static 'vendor/lightgallery/css/lightgallery.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fullcalendar/css/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
      <!-- Form step -->
      <link href="{% static './vendor/jquery-smartwizard/dist/css/smart_wizard.min.css'%}" rel="stylesheet">
      <link href="{% static './css/style.css'%}" rel="stylesheet">
      <link href="{% static '/css/icomoon.css'%}" rel="stylesheet">
      <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>


<body>

 <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">



        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{% url 'index' %}" class="brand-logo">
                
                <img class="logo-abbr" src="{% static '/images/logito.png' %}" alt="">
                <img class="logo-compact" src="{% static '/images/logo-text.png' %}" alt="">
                <img class="brand-title" src="{% static '/images/logo-text.png' %}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
         	
        <!--**********************************
            Header start
        ***********************************-->
       <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left"> 
                            {% block title %}
                              <div class="dashboard_bar">
                               Título va aqui
                            </div>
                            {% endblock %}
                        </div>
                        </div>
                        <ul class="navbar-nav header-right">
							<li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link dz-fullscreen" href="#">
                                    <svg id="icon-full" viewBox="0 0 24 24" width="26" height="26" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
                                    <svg id="icon-minimize" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minimize"><path d="M8 3v3a2 2 0 0 1-2 2H3m18 0h-3a2 2 0 0 1-2-2V3m0 18v-3a2 2 0 0 1 2-2h3M3 16h3a2 2 0 0 1 2 2v3"></path></svg>
                                </a>
							</li>
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link  ai-icon" href="#" role="button" data-toggle="dropdown">
                                    <i class="flaticon-381-ring"></i>
                                    <div class="pulse-css"></div>
                                </a> 
                            </li>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3" style="height:380px;">
										<ul class="timeline">
											<li>
												<div class="timeline-panel">
													<div class="media mr-2">
														<img alt="image" width="50" src="images/avatar/1.jpg">
													</div>
													<div class="media-body">
														<h6 class="mb-1">Dr sultads Send you Photo</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											<li>
												<div class="timeline-panel">
													<div class="media mr-2 media-info">
														KG
													</div>
													<div class="media-body">
														<h6 class="mb-1">Resport created successfully</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											<li>
												<div class="timeline-panel">
													<div class="media mr-2 media-success">
														<i class="fa fa-home"></i>
													</div>
													<div class="media-body">
														<h6 class="mb-1">Reminder : Treatment Time!</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											 <li>
												<div class="timeline-panel">
													<div class="media mr-2">
														<img alt="image" width="50" src="images/avatar/1.jpg">
													</div>
													<div class="media-body">
														<h6 class="mb-1">Dr sultads Send you Photo</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											<li>
												<div class="timeline-panel">
													<div class="media mr-2 media-danger">
														KG
													</div>
													<div class="media-body">
														<h6 class="mb-1">Resport created successfully</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											<li>
												<div class="timeline-panel">
													<div class="media mr-2 media-primary">
														<i class="fa fa-home"></i>
													</div>
													<div class="media-body">
														<h6 class="mb-1">Reminder : Treatment Time!</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
										</ul>
									</div>
                                    <a class="all-notification" href="#">See all notifications <i class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
									<div class="header-info">
										<span>Mishelle Villalta</span>
										<small>ADMIN</small>
									</div>
                                    <img src="images/profile/pic1.jpg" width="20" alt=""/>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Perfil </span>
                                    </a>
                                    <!--
                                    <a href="./email-inbox.html" class="dropdown-item ai-icon">
                                        <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                -->
                                    <a href="{% url 'pag-inicio' %}" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Cerrar Sesión </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
       
 
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->


            <!--**********************************
            Sidebar start
        ***********************************-->
            <div class="deznav">
                <div class="deznav-scroll">
                    <ul class="metismenu" id="menu">
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-user-7"></i>
                                <span class="nav-text">Pacientes</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'index' %}">Panel</a></li>
                                <li><a href="{% url 'contactos' %}">Contactos</a></li>
                            </ul>
                        </li>
                     <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Expedientes</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'ver-expediente' %}">Ver Expedientes</a></li>
                                <li><a href="{% url 'crear-expediente' %}">Crear expediente</a></li>
                        
                            </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-calendar-1"></i>
                            <span class="nav-text">Agendar Citas</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'agendar' %}">Agendar</a></li>
                            <li><a href="{% url 'buscar' %}">Buscar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-heart"></i>
                            <span class="nav-text">Alimentos</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'alimentos' %}">Administrar Alimentos</a></li>
                            <li><a href="{% url 'recetas' %}">Generar Recetas</a></li>
                        </ul>
                    </li>
                   </ul>
                </div>
            </div>

    
        <!--**********************************
        Sidebar end
    ***********************************-->


        <!--**********************************
        Content body start
    ***********************************-->
        {% block content %}


        <pre>Content Body Code goes here</pre>


        {% endblock %}



        <!--**********************************
       Content Body Ends
    ***********************************-->

        <!--**********************************
        Main wrapper Ends
    ***********************************-->
       </div>


        <!--**********************************
        Footer start
     ***********************************-->
        <!--**********************************
       Sample Footer
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2021</p>
        </div>
    </div>
    ***********************************-->
        <!--**********************************
        Footer end
    ***********************************-->


        <!--**********************************
        Scripts
    ***********************************-->
        <!-- Required vendors -->
        <script src="{% static 'vendor/global/global.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
        <script src="{% static '/js/custom.min.js' %}"></script>
        <script src="{% static '/js/deznav-init.js' %}"></script>

        <!-- Apex Chart -->
        <script src="{% static 'vendor/apexchart/apexchart.js' %}"></script>


        <!-- Dashboard 1 -->
        <script src="{% static '/js/dashboard/dashboard-1.js' %}"></script>

        <!-- Vectormap -->
        <!-- Chart piety plugin files -->
        <script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>

        <!-- Chartist -->
        <script src="{% static 'vendor/chartist/js/chartist.min.js' %}"></script>

        <!-- Datatable -->
        <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static '/js/plugins-init/datatables.init.js' %}"></script>

        <!-- Form validate init -->
    <script src="{% static '/js/plugins-init/jquery.validate-init.js' %}"></script>


	
   <!-- Form Steps -->
	<script src="{% static 'vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
	
    	<script>
		$(document).ready(function(){
			// SmartWizard initialize
			$('#smartwizard').smartWizard(); 
		});
	</script>

        <!-- Light Gallery -->
        <script>
            $('#lightgallery').lightGallery({
                thumbnail: true,
            });
        </script>

        <!-- Calendar -->
        <script src="{% static 'vendor/jqueryui/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'vendor/moment/moment.min.js' %}"></script>

        <script src="{% static 'vendor/fullcalendar/js/fullcalendar.min.js' %}"></script>
        <script src="{% static 'vendor/fullcalendar/locale/es.js' %}"></script>
        <script src="{% static '/js/plugins-init/fullcalendar-init.js' %}"></script>




            <!-- Wizard -->

    <script src="{% static 'vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
  

	
</body>
</html>

