{% extends 'pag-master.html'%}

{% load static %}


{% block pag %}

    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="{% url 'index' %}"><img src="{% static 'images/logo-full.png' %}" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Acceder a mi cuenta</h4>
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Correo</strong></label>
                                            <input type="text" class="form-control" placeholder="nombre@correo.com" name="username">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Contraseña</strong></label>
                                            <input type="password" class="form-control" placeholder="Password" name="password">
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                               <div class="custom-control custom-checkbox ml-1">
													<input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
													<label class="custom-control-label" for="basic_checkbox_1">Recordar mi preferencia</label>
												</div>
                                            </div>
                                            <div class="form-group">
                                                <a href="{% url 'pag-olvido' %}">Olvido su contraseña?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Acceder</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>No tiene una cuenta? <a class="text-primary" href="{% url 'pag-registro' %}">Inscribirse</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

{% endblock pag %}


