{% extends 'masterpage.html'%}
{% load crispy_forms_tags %}


{% load static %}


{% block title %}
	<div class="dashboard_bar">
	Generar Recetas
	</div>
 {% endblock %}


{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="col-lg-12">
            <form action="" method="post" autocomplete="off">
                {% csrf_token%}
                {{form|crispy}}
                <button type="submit" class="btn btn-danger waves-effect waves-light save-category">Agregar</button>
            </form>
        </div>
    </div>
</div>
        <!-- Agregar Receta--
        <div class="content-body">
            <div class="container-fluid">
       <div class="col-lg-12">
                        <form action="" method="post" autocomplete="off">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Titulo</label>
                                    <input class="form-control form-white" placeholder="" type="text" name="titulo">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Ingredientes</label>
                                    <input class="form-control form-white" placeholder="" type="text" name="ingredientes">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Instrucciones</label>
                                    <input class="form-control form-white" placeholder="" type="text" name="instrucciones">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Notas</label>
                                    <input class="form-control form-white" placeholder="" type="text" name="notas">

                                </div>
                            </div>
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                     
                        </form>
                   
                    </div>
                </div>
            </div-->

   {% endblock content %}