{% extends 'masterpage.html'%}


{% load static %}


{% block title %}
	<div class="dashboard_bar">
	Generar Recetas
	</div>
 {% endblock %}


{% block content %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
		        <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Recetario</h4>
                                <a href="{% url 'receta_form' %}" class="btn btn-primary btn-event w-25">
                                    Agregar     </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table primary-table-bordered">
                                        <thead class="thead-primary">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Titulo</th>
                                                <th scope="col">Ingredientes</th>
												<th scope="col">Instrucciones</th>
												<th scope="col">Notas</th>
                                                <th scope="col">Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for receta in recetas %}
                                            <tr>
                                                <td>{{receta.idreceta}}</td>
                                                <td>{{receta.titulo}}</td>
                                                <td>{{receta.ingredientes}}</td>
                                                <td>{{receta.instrucciones}}</td>
                                                <td>{{receta.notas}}</td>
                                                <td><div class="d-flex">
                                                    <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
                     
        
    

        <!-- Agregar Receta
        <div class="modal fade none-border" id="add-receta">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><strong>Receta</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" autocomplete="off">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Titulo</label>
                                    <input class="form-control form-white" placeholder="" type="text" name="titulo">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Ingredientes</label>
                                    <input class="form-control form-white" placeholder="" type="text" name="ingredientes">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Instrucciones</label>
                                    <input class="form-control form-white" placeholder="" type="text" name="instrucciones">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Notas</label>
                                    <input class="form-control form-white" placeholder="" type="text" name="notas">

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>-->
 
		<!--**********************************
            Table Start
        
		 <div class="content-body">
            <div class="container-fluid">
		<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Recetario</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table primary-table-bordered">
                                        <thead class="thead-primary">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Titulo</th>
                                                <th scope="col">Ingredientes</th>
												<th scope="col">Instrucciones</th>
												<th scope="col">Notas</th>
                                                <th scope="col">Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>Refresco de Coco
</td>
                                                <td>(315 g.) 1 Lata Leche Evaporada IDEAL®
(200 g.) 1 taza Crema de coco fresca
(240 g.) 1 taza agua de pipa/coco fresca
(480 g.) 2 tazas de agua helada
Azúcar al gusto (opcional)</td>.
												<td>
													Licuar todos los ingredientes a máxima velocidad por 1 minuto.

Decorar el vaso al gusto.

Servir con hielo y disfrutar al instante.


													</td>
												<td>
													</td>
                                                <td><div class="d-flex">
											<a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
											<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
										</div></td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>Dip de Hamburguesa
</td>
                                                <td>(125 g.) 7 rebanadas de tocino
(75 g.) ½ taza de cebolla cortada finamente
(227 g.) 1/2 libra de carne molida baja en grasa
(10 g.) 1 sobre de Sazonador de RES MAGGI®
(224) 8 oz. o 1 barra de queso crema a temperatura ambiente
(113 g.) 3/4 taza de Queso Americano Nestlé®
(113 g.) 3/4 taza de Queso Mozzarella Nestlé®
(5 g.) 1 cucharadita de ajo en polvo
Sal y pimienta al gusto
Pepinillos, tomate y lechuga para decorar</td>
												<td>
													Precalentar el horno a 350° F (165° C).

En una sartén a fuego bajo, colocar las rebanadas de tocino y cocinar que estén doradas y crujientes. Retirar a un plato forrado con toallas de papel, reservando la grasa en la sartén. Cuando el tocino esté lo suficientemente frío como para manipularlo, cortar en cubitos.

Aumente el fuego a medio, agregar las cebollas y cocine hasta que estén blandas y translúcidas, aproximadamente 4-5 minutos.

Agregar la carne molida y desmenuzar con un cucharon. Agregar el Sazonador de Carne MAGGI®, revolver y cocinar por 5 minutos. Transferir la carne a otro plato forrado con toallas de papel para absorber el exceso de grasa.

En un tazón, combinar el tocino desmenuzado, la carne molida cocida, el queso crema, la mitad de los quesos, el ajo en polvo, sal y pimienta al gusto.

Transferir la mezcla a la sartén preparada o fuente para hornear, cubrir con el resto del queso y hornear que el queso se gratine, aproximadamente 12-15 minutos.

Cubrir el dip con los pepinillos encurtidos al gusto y servir caliente.</td>
												<td>
													</td>
                                                <td><div class="d-flex">
											<a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
											<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
										</div></td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>Frappe de Mokaccino
</td>
                                                <td>5 cubos de hielo
(240 g.) 1 taza de leche o bebida vegetal
(30 g.) 1 cucharada de Leche Condensada LA LECHERA®
(25 g.) 1 sobre de Nescafé® Mokaccino
Crema batida, chocolate rallado o sirope de chocolate para decorar</td>
												<td>Licuar todos los ingredientes a máxima velocidad por un minuto.

Servir y decorar con crema batida y fresas al gusto.

Disfrutar frío.
													<td>
													</td>
													</td>
                                                <td><div class="d-flex">
											<a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
											<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
										</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>   </div>   </div>

                    ***********************************-->
		 <!--**********************************
            Table end
        ***********************************-->

        <!--**********************************
            Content body end
        ***********************************-->

        
   {% endblock content %}