{% extends 'masterpage.html'%}


{% load static %}


{% block title %}
	<div class="dashboard_bar">
	Administrarr Alimentos
	</div>
 {% endblock %}


{% block content %}


		

        <!--**********************************
            Content body start
        ***********************************-->
    

	   <!--**********************************
           Food tables start
        ***********************************-->

       <!--**********************************
           Carnes 
        ***********************************-->
		     <div class="content-body">
            <div class="container-fluid">
				 <div class="row">
				                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Carnes</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Alimento</th>
                                                <th scope="col">Carb</th>
                                                <th scope="col">Prote</th>
                                                <th scope="col">Grasas</th>
												<th scope="col">Kcal</th>
												<th scope="col">Porción</th>
                                                <th scope="col">Accción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Alimento1</td>
                                                <td><span class="badge badge-primary light">0%</span></td>
                                                <td><span class="badge badge-success">0%</span></td>
                                                <td><span class="badge badge-dark light">0%</span></td>
												<td><span class="badge badge-danger">0%</span></td>
												 <td>1</td>
                                                <td>
                                                    <span>
                                                        <a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                            data-placement="top" title="Edit"><i
                                                                class="fa fa-pencil color-muted"></i> </a>
                                                        <a href="javascript:void()" data-toggle="tooltip"
                                                            data-placement="top" title="Close"><i
                                                                class="fa fa-close color-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Alimento2</td>
                                                <td><span class="badge badge-primary light">0%</span></td>
                                                <td><span class="badge badge-success">0%</span></td>
                                                <td><span class="badge badge-dark light">0%</span></td>
												<td><span class="badge badge-danger">0%</span></td>
												 <td>1</td>
                                                <td>
                                                    <span>
                                                        <a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                            data-placement="top" title="Edit"><i
                                                                class="fa fa-pencil color-muted"></i> </a>
                                                        <a href="javascript:void()" data-toggle="tooltip"
                                                            data-placement="top" title="Close"><i
                                                                class="fa fa-close color-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                            <td>Alimento3</td>
                                                <td><span class="badge badge-primary light">0%</span></td>
                                                <td><span class="badge badge-success">0%</span></td>
                                                <td><span class="badge badge-dark light">0%</span></td>
												<td><span class="badge badge-danger">0%</span></td>
												 <td>1</td>
                                                <td>
                                                    <span>
                                                        <a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                            data-placement="top" title="Edit"><i
                                                                class="fa fa-pencil color-muted"></i> </a>
                                                        <a href="javascript:void()" data-toggle="tooltip"
                                                            data-placement="top" title="Close"><i
                                                                class="fa fa-close color-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                            <td>Alimento4</td>
                                                <td><span class="badge badge-primary light">0%</span></td>
                                                <td><span class="badge badge-success">0%</span></td>
                                                <td><span class="badge badge-dark light">0%</span></td>
												<td><span class="badge badge-danger">0%</span></td>
												 <td>1</td>
                                                <td>
                                                    <span>
                                                        <a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                            data-placement="top" title="Edit"><i
                                                                class="fa fa-pencil color-muted"></i> </a>
                                                        <a href="javascript:void()" data-toggle="tooltip"
                                                            data-placement="top" title="Close"><i
                                                                class="fa fa-close color-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                            <tr>
                                            <td>Alimento5</td>
                                                <td><span class="badge badge-primary light">0%</span></td>
                                                <td><span class="badge badge-success">0%</span></td>
                                                <td><span class="badge badge-dark light">0%</span></td>
												<td><span class="badge badge-danger">0%</span></td>
												 <td>1</td>
                                                <td>
                                                    <span>
                                                        <a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                            data-placement="top" title="Edit"><i
                                                                class="fa fa-pencil color-muted"></i> </a>
                                                        <a href="javascript:void()" data-toggle="tooltip"
                                                            data-placement="top" title="Close"><i
                                                                class="fa fa-close color-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>>
					</div>>

		 <!--**********************************
           Carnes end
        ***********************************-->

 
        <!--**********************************
            Content body end
        ***********************************-->

  {% endblock content %}




        
 