
{% extends 'masterpage.html'%}


{% load static %}

{% block title %}
	<div class="dashboard_bar">
	Crear Expediente
	</div>
 {% endblock %}


{% block content %}

		
    <!--**********************************
            Content body start
    ***********************************-->
    
		 <div class="content-body">
            <div class="container-fluid">
		<div class="col-lg-12">
			<div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Datos Personales</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form>
										<div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Fecha de Ingreso</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nombre</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Nombre">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Cédula</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" placeholder="Cédula">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Teléfono</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" placeholder="Teléfono">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Correo</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" placeholder="Correo">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Ocupación</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Ocupación">
                                            </div>
                                        </div>
										
                                        <fieldset class="form-group">
                                            <div class="row">
                                                <label class="col-form-label col-sm-3 pt-0">Sexo</label>
                                                <div class="col-sm-9">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gridRadios" value="option1" checked>
                                                        <label class="form-check-label">
                                                            Femenino
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gridRadios" value="option2">
                                                        <label class="form-check-label">
                                                            Masculino
                                                        </label>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </fieldset>
										<div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Edad</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" placeholder="Edad">
                                            </div>
                                        </div>
										<div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Objetivo/Meta</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                       <!-- <div class="form-group row">
                                            <div class="col-sm-3">Checkbox</div>
                                            <div class="col-sm-9">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">
                                                        Example checkbox
                                                    </label>
                                                </div>
                                            </div>
                                        </div-->
                                        
                                    </form>
                                </div>
                            </div>
				<div class="card-header">
                                <h4 class="card-title">Indicadores Clínicos</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Antecedentes</th>
                                                <th scope="col">Personales</th>
                                                <th scope="col">Familiares</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Dislipidemias</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
                                           <tr>
                                                <td>Hipertensión 
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>Diabetes Mellitus
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>ECV
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>Enfermedades de  Tiroides
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>Cáncer
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>Estreñimiento
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>Diarreas
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>Vomitos 
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>SII: Estreñimiento, diarrea,calambres,gases, inflamación
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>Problemas de Peso
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
											<tr>
                                                <td>Ansiedad-Depresión
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">
                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
			<div class="card-header">
                                <h4 class="card-title">Signos Fisicos</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form>
										
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">(cabello, ojos, piel, uñas, labios, encías, etc)</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        
                                        
                                    </form>
                                </div>
                            </div>
			
			<!--Consumo de-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Consumo de</th>
                                                <th scope="col">Si/No</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Laxantes </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                          <tr>
                                                <td>Diuréticos </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
											<tr>
                                                <td>Antiácidos </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
											<tr>
                                                <td>Analgésicos </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
											<tr>
                                                <td> Vitaminas </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> 

			<div class="card-header">
                                <h4 class="card-title">Medicamentos</h4>
                            </div>
			 <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Medicamento</th>
                                                <th scope="col">Motivo</th>
                                                <th scope="col">Consumo</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""></td>
                                                <td><input type="text" class="form-control" placeholder=""></td>
                                               
                                            </tr>
                                          <tr>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""></td>
                                                <td><input type="text" class="form-control" placeholder=""></td>
                                               
                                            </tr><tr>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""></td>
                                                <td><input type="text" class="form-control" placeholder=""></td>
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
			<div class="card-header">
                                <h4 class="card-title">Indicadores Dietéticos</h4>
                            </div>
			 <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
										
                                            <tr>
                                                <th scope="col">Hábitos y preferencias alimentarias	</th>
                                                <th scope="col"></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>¿Presenta alguna alergia alimentaria? </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                          <tr>
                                                <td>¿Cúal presenta? </td>
                                                 <td><input type="text" class="form-control" placeholder=""> </td>

                                               
                                            </tr>
											<tr>
                                                <td>¿Presenta alguna intolerancia alimentaria?
</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                          <tr>
                                                <td>¿Cúal presenta? </td>
                                                 <td><input type="text" class="form-control" placeholder=""> </td>

                                               
                                            </tr>
											<tr>
                                                <td>¿Dónde mayormente come? En casa o trabajo
 </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">Casa</option>
                                                    <option value="danger">Trabajo</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                          
											<tr>
                                                <td>¿Cocina o compra sus alimentos? </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">Cocina</option>
                                                    <option value="danger">Compra</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                          <tr>
                                                <td>¿Cómo califica su alimentación?</td>
                                                 <td><input type="text" class="form-control" placeholder=""> </td>

                                               
                                            </tr>
											<tr>
                                                <td>¿Cómo califica su apetito?</td>
                                                 <td><input type="text" class="form-control" placeholder=""> </td>

                                               
                                            </tr>
											<tr>
                                                <td>¿Presenta ansiedad por la comida?</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>

                                               
                                            </tr>
											<tr>
                                                <td>¿Qué consume para la ansiedad?</td>
                                                 <td><input type="text" class="form-control" placeholder=""> </td>

                                               
                                            </tr>
											<tr>
                                                <td>¿Le añade sal a la comida ya preparada?</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>

                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
			<div class="card-header">
                                <h4 class="card-title">Comidas por día</h4>
                            </div>
			 <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
										
                                            <tr>
                                                <th scope="col">¿Comidas realizadas al día?</th>
                                                <th scope="col"></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Desayuno</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                          <tr>
                                                <td>Merienda</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
											<tr>
                                                <td>Almuerzo</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                            <tr>
                                                <td>Merienda </td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                            <tr>
                                                <td>Cena</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                            <tr>
                                                <td>Colación Nocturna</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                               
                                            </tr>
                                            <tr>
                                                <td>Otro</td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
            <div class="card-header">
                                <h4 class="card-title">Hábitos Sociales 	</h4>
                            </div>
			 <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
										
                                            <tr>
                                                <th scope="col">Consumo</th>
                                                <th scope="col">Si-No</th>
                                                <th scope="col">Frecuencia</th>
                                                <th scope="col">Tipo</th>
                                                <th scope="col">Cantidad</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Alcohol</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                               
                                            </tr>
                                            <tr>
                                                <td>Tabaco</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                               
                                            </tr>
                                            <tr>
                                                <td>Drogas</td>
                                                <td><select class="form-control form-white" data-placeholder="si/no" name="category-color">

                                                    <option value="success">No</option>
                                                    <option value="danger">Si</option>
                                                  
                                                </select></td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                                <td><input type="text" class="form-control" placeholder=""> </td>
                                               
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
            <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Horas de sueño</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" placeholder="horas">
                                            </div>
                                        </div>
			<div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Crear</button>
                                            </div>
                                        </div>
                        </div> </div> </div>
		 </div>

	
		
 
        <!--**********************************
            Content body end
        ***********************************-->
        
{% endblock content %}

 
