{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}Nutricionistas - Detalle del menu{% endblock %}

{% block title_page %}Detalles del menu{% endblock title_page %}

{% block css %}

{% endblock css %}

{% block breadcrumb %}
<div class="row page-titles mx-0">
  <div class="col-sm-6 p-md-0">
    <div class="welcome-text">
      <h4>Detalle de Menu</h4>
      <p>{{ object.nombre_menu}}</p>
    </div>
  </div>
  <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Panel</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'nutri_app:users_list' %}">Listado de usuarios</a></li>
      <li class="breadcrumb-item active"><a href="javascript:void(0)">Detalle</a></li>
    </ol>
  </div>
</div>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-12 space20">

    <a href="{% url 'nutri_app:menu_line_create' object.pk %}" title="Add user" class="btn btn-primary btn-sm">
      <i class="fa fa-plus"></i> {% trans 'Agregar comida a menú' %}</a>
  </div>
</div>
<br>


<div class="table-responsive">

  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Comida' %}</th>
        <th>{% trans 'Tipo de comida' %}</th>
        <th>{% trans 'Acciones' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for ml in menu_line %}
      <tr>
       
        <td> {{ ml.comida }}</td>
        <td>{{ ml.tipo_comida }}</td>
        <td>{{ ml.observaciones }}</td>
       
        <td class="text-nowrap">

          <a class="btn btn-primary btn-sm" href="{% url 'nutri_app:menu_line_edit' menu_id ml.pk %}">
            <i class="fa fa-edit" alt="Editar"></i></a>

          <a class="btn btn-danger btn-sm" href="{% url 'nutri_app:menu_line_delete' menu_id ml.pk %}" alt="Eliminar">
            <i class="fa fa-trash-o"></i> </a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<a href="{% url 'nutri_app:menu_list'˚∑ %}" class="btn btn-primary btn-sm"><i
  class="fa fa-reply"></i> {% trans 'Regresar al listado' %}</a>


{% endblock content %}


